body{
    background-image: url(../img/logo7_adobespark.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h1{
    margin-top: 15px;
    margin-bottom: 100px;
}
.form-heading { color:#fff; font-size:23px;}
.panel h2{ color:#fff; font-size:30px; margin:0 0 8px 0; margin-bottom: 10px;}
.panel p { color:rgba(232, 235, 232, 0.774); font-size:14px; margin-bottom:30px; line-height:24px;}
.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}
.main-div {
  background: rgba(23, 21, 32, 0.801) none repeat scroll 0 0;
  border-radius: 10px;
  margin: 10px auto 30px;
  max-width: 38%;
  padding: 50px 70px 70px 71px;
}

.login-form .form-group {
  margin-bottom:10px;
}
.login-form{ text-align:center;}
.forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
}
.btn.btn-primary {
  background: rgb(33, 80, 226);
  border-color: rgba(33, 81, 226, 0.336);
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}
.input-group-prepend span{
  width: 50px;
  background-color: rgb(32, 30, 45);
  color: white;
  border:0;
  padding-top: 17px;
  padding-right: 12px;
  padding-left: 16px;
  padding-bottom: 18px;
  }
.btn.btn-primary:hover{
background-color: rgb(105, 225, 17);
}
.forgot {
  text-align: left; margin-bottom:30px;
}
.botto-text {
  color: #ffffff;
  font-size: 14px;
  margin: auto;
}

.back { text-align: left; margin-top:10px;}
.back a {color: #444444; font-size: 13px;text-decoration: none;}
