{% extends 'Homero/base.html' %}

{% load static %}

{% block contenido %}
<br><br><br><br>
<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <h2>Listado de Incidentes</h2>
                </div>
                <div class="col-md-2">
                    <button id="myButton" class="float-left submit-button btn-primary" >Nuevo Incidente en Sistema</button>
                </div>
                <div class="col-md-2">
                    <button id="myButton2" class="float-left submit-button btn-info" >Nuevo Incidente en Servidor</button>
                </div>
            </div>
            <hr>
            <table class="table table-striped table-hover table-responsive-sm">
                <tr>
                    <th>ID Incidente</th>
                    <th>Nombre Incidente</th>
                    <th>ID Sistema</th>
                    <th>ID Servidor</th>
                    <th>Fecha del Incidente</th>
                    <th>Modificar</th>
                </tr>
                {% for i in incidentes %}
                <tr>
                    <td>{{ i.id_incidente }}</td>
                    <td>{{ i.nombre_incidente }}</td>
                    {% if i.id_sistema == null %}
                    <td> </td>
                    {% else %}
                    <td>{{ i.id_sistema }}</td>
                    {% endif %}
                    <td>{{ i.id_servidor }}</td>
                    <td>{{ i.fecha_inci }}</td>
                    {% if i.id_sistema ==  null %}
                    <td><a href="{% url 'modificarServ' i.id_incidente %}">Modificar</a></td>
                    {% else %}
                    <td><a href="{% url 'modificar' i.id_incidente %}">Modificar</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block js%}
<script type="text/javascript">
    document.getElementById("myButton").onclick = function () {
        location.href = "{% url 'incidentes' %}";
    };
    document.getElementById("myButton2").onclick = function () {
        location.href = "{% url 'incidentesServ' %}";
    };
</script>
{% endblock %}

