{% extends 'Homero/base.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/estilosincidentes.css' %}">
{% endblock %}
{% block contenido %}
<div class="container ss">
    <div class="row">
        <div class="col-md-12">
            <table>
                <tr>
                    <th>Id Servidor</th>
                    <th>Nombre Servidor</th>
                    <th>Sistema Operativo</th>
                    <th>Capacidad del Disco</th>
                    <th>Memoria Ram</th>
                    <th>Garantia</th>
                    <th>Contraseña de Admin</th>
                    <th>Dirección IP</th>
                    <th>Rut del Mantenedor</th>
                    <th>ID Rack</th>
                    <th>Rut</th>
                    <th>ID Tipo Servidor</th>
                </tr>
            
                {% for p in servidores %}
                    <tr>
                        <td>{{ p.id_servidor }}</td>
                        <td>{{ p.nombre_servidor }}</td>
                        <td>{{ p.sistema_operativo }}</td>
                        <td>{{ p.capacidad_disco }}</td>
                        <td>{{ p.ram }}</td>
                        <td>{{ p.garan }}</td>
                        <td>{{ p.contrasena_admin }}</td>
                        <td>{{ p.direccion_ip }}</td>
                        <td>{{ p.rut_mantenedor }}</td>
                        <td>{{ p.id_rack }}</td>
                        <td>{{ p.rut }}</td>
                        <td>{{ p.id_tipo }}</td>
                    </tr>
                {% endfor %}
            
            </table>
        </div>
    </div>
</div>


{% endblock %}