{% extends 'Homero/baseMan.html' %}

{% load static %}

{% block contenido %}
<br><br><br><br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h2>Listado de Servidores</h2>
                    <hr>
                    <table class="table table-striped table-hover table-responsive-sm">
                        <tr>
                            <th>Id Servidor</th>
                            <th>Nombre Servidor</th>
                            <th>En Rack</th>
                            <th>En Sala Servidor</th>
                            <th>Dirección Sala</th>
                            <th>Sistema Operativo</th>
                            <th>Garantia</th>
                            <th>Contraseña de Admin</th>
                            <th>Dirección IP</th>
                            <th>Rut del Responsable</th>
                        </tr>
                    
                        {% for serv in servidores %}
                            <tr>
                                <td>{{ serv.id_servidor }}</td>
                                <td>{{ serv.nombre_servidor }}</td>
                                <td>{{ serv.id_rack }}</td>
                                <td>
                                    {% for rac in rack %}
                                    {% if serv.id_rack == rac%}
                                    {{ rac.id_sala }}
                                    {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for rac in rack %}
                                    {% if serv.id_rack == rac%}
                                    {% for sal in sala%}
                                    {% if rac.id_sala == sal %}
                                    {{ sal.direccion }}
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                    {% endfor %}
                                </td>
                                <td>{{ serv.ram }}</td>
                                <td>{{ serv.garan }}</td>
                                <td>{{ serv.contrasena_admin }}</td>
                                <td>{{ serv.direccion_ip }}</td>
                                <td>{{ serv.rut }}</td>
                            </tr>   
                        {% endfor %}
                    
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}