{% extends 'Homero/base.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/estilosincidentes.css' %}">
{% endblock %}
{% block contenido %}

<div class="container contact-form">
    <div class="contact-image">
        <img src="../static/img/logo8.PNG" alt="rocket_contact"/>
    </div>
    <form action="" method="post">
        {% csrf_token %}
        <h3>Registro de Incidentes</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Tipo Incidente" value="" name="tipo" id="tipo"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Nombre Incidente" value="" name="nombre" id="nombre"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Tiempo de Inactividad" value="" name="tiempo" id="tiempo"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Responsable Mantenedor" value="" name="mantenedor" id="mantenedor"/>
                </div>
                <div class="form-group caja">
                    <select name="cboSistema" id="cboSistema">
                        <option selected>Seleccione un Id de Sistema ...</option>
                        {% for m in sistema %}
                        <option value="{{ m.id_sistema }}">{{ m.id_sistema }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <textarea  class="form-control" placeholder="Problema" style="width: 100%; height: 120px;" name="problema" id="problema"></textarea>
                </div>
                <div class="form-group">
                    <textarea  class="form-control sol" placeholder="Solución" style="width: 100%; height: 120px;" name="solucion" id="solucion"></textarea>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <div class="form-group ">
                    <button type="submit" class="btn btn-primary " name="registro">Registrar</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="container contact-form">
    <h3>{{ mensaje }}</h3>
</div>
{% endblock %}