{% extends 'Homero/base.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/estilosincidentes.css' %}">
{% endblock %}
{% block contenido %}

<div class="b-example-divider"></div>
<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1 letra">Registro Incidentes</h1>
            <p class="lead letra">En esta sección se registran los incidentes</p>
        </div>
        <div class="col-lg-3">
            <a href="{% url 'incidentes' %}"><img class="rounded-lg-3" src="../static/img/incidentes.jpg" alt="" width="420"></a>
        </div>
    </div>
</div>
<div class="b-example-divider"></div>
<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1 letra">Consultar por Servidores</h1>
            <p class="lead letra">En esta sección se muestran y filtran los servidores de Homero Apps</p>
        </div>
        <div class="col-lg-3">
            <a href="{% url 'servidores' %}"><img class="rounded-lg-3" src="../static/img/servidor-e1557165670831.jpg" alt="" width="420"></a>
        </div>
    </div>
</div>
<div class="b-example-divider"></div>
<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1 letra">Consultar por Sistemas</h1>
            <p class="lead letra">En esta sección se muestran y filtran los servicios</p>
        </div>
        <div class="col-lg-3">
            <a href="#"><img class="rounded-lg-3" src="../static/img/banner3.jpg" alt="" width="420"></a>
        </div>
    </div>
</div>
<div class="b-example-divider"></div>

{% endblock %}