{% extends 'Homero/base.html' %}

{% load static %}

{% block contenido %}

<div class="container contact-form">
    <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="txtId" id="txtId" value="{{ modificar.id_incidente }}">
        <h3>Modificación de Incidentes</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <p class="color">Tipo Incidente</p>
                    <input type="text" class="form-control" placeholder="Tipo Incidente" value="{{ modificar.tipo_incidente }}" name="tipo" id="tipo" required maxlength="20"/>
                </div>
                <div class="form-group">
                    <p class="color">Nombre Incidente</p>
                    <input type="text" class="form-control" placeholder="Nombre Incidente" value="{{ modificar.nombre_incidente }}" name="nombre" id="nombre" required maxlength="20"/>
                </div>
                <div class="form-group">
                    <p class="color">Tiempo de Inactividad (minutos)</p>
                    <input type="number" class="form-control" placeholder="Tiempo de Inactividad" value="{{ modificar.tiempo_inactividad }}" name="tiempo" max="99999" id="tiempo"/>
                </div>
                <div class="form-group caja">
                    <p class="color">ID Servidor</p>
                    <select name="cboServidor" id="cboServidor">

                        {% for m in servidores %}
                        <option   
                        value="{{ m.id_servidor }}"
                        {% if modificar.id_servidor == m.id_servidor %}
                        selected
                        {% endif %}
                        >{{ m.id_servidor }}</option>

                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <p class="color">Especifique el Problema</p>
                    <textarea  class="form-control" placeholder="Problema" style="width: 100%; height: 120px;" name="problema" id="problema" maxlength="200">{{ modificar.problema }}</textarea>
                </div>
                <div class="form-group">
                    <p class="color">Especifique la Solución</p>
                    <textarea  class="form-control sol" placeholder="Solución" style="width: 100%; height: 120px;" name="solucion" id="solucion" maxlength="200">{{ modificar.solucion }}</textarea>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <div class="form-group ">
                    <button type="submit" class="btn btn-primary " name="registro">Modificar</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="container contact-form">
    <h3>{{ mensaje }}</h3>
</div>
{% endblock %}
